// the charset to use
@charset "UTF-8";

// the relative path to the fonts directory
$sansSourceProPath: "/static/fonts/SourceSansPro" !default;

// the font-family
$default-font-family: 'Source Sans Pro';

/*
Light
*/
@font-face {
  font-family: #{$default-font-family};
  src: url('#{$sansSourceProPath}/SourceSansPro-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

/*
Regular
*/
@font-face {
  font-family: #{$default-font-family};
  src: url('#{$sansSourceProPath}/SourceSansPro-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/*
SemiBold
*/
@font-face {
  font-family: #{$default-font-family};
  src: url('#{$sansSourceProPath}/SourceSansPro-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
