input,
textarea,
select {
  color: var(--black-80);
}

input:not([value=""]):invalid {
  border-color: var(--red);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    appearance: none;
    margin: 0;
}
