@import '~tachyons/css/tachyons.min.css';
@import '~tachyons/src/colors';

@import './partials/animation';
@import './partials/button';
@import './partials/font';
@import './partials/input';
@import './partials/tooltip';

html,
body,
#__next,
.layout {
  position: relative;
  overflow: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--black-70);
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-overflow-scrolling: touch;
}

