@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

html,
body,
#__next,
.layout {
  height: 100%;
  overflow: hidden;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  font-weight: 400;
}
