$interactive-01: #0062ff;
$interactive-02: #6f6f6f;
$interactive-03: #ffffff;
$ui-background: #171717;
$ui-01: #282828;
$ui-02: #3d3d3d;
$ui-03: #3d3d3d;
$ui-04: #6f6f6f;
$ui-05: #f3f3f3;
$text-01: #f3f3f3;
$text-02: #bebebe;
$text-03: #6f6f6f;
$text-04: #ffffff;
$icon-01: #f3f3f3;
$icon-02: #bebebe;
$icon-03: #ffffff;
$field-01: #282828;
$field-02: #3d3d3d;
$inverse-01: #171717;
$inverse-02: #f3f3f3;
$support-01: #fb4b53;
$support-02: #24a148;
$support-03: #fdd13a;
$support-04: #408bfc;
$overlay-01: rgba(23, 23, 23, 0.7);
$focus: #ffffff;
$hover-primary: #0353e9;
$active-primary: #0530ad;
$hover-primary-text: #054ada;
$hover-secondary: #606060;
$active-secondary: #3d3d3d;
$hover-tertiary: #f3f3f3;
$active-tertiary: #bebebe;
$hover-ui: #353535;
$active-ui: #565656;
$selected-ui: #3d3d3d;
$hover-selected-ui: #4c4c4c;
$hover-danger: #ba1b23;
$active-danger: #750e13;
$hover-row: #353535;
$visited-link: #bb8eff;
$disabled-01: #282828;
$disabled-02: #3d3d3d;
$disabled-03: #6f6f6f;
$highlight: #061f80;
$brand-01: #0062ff;
$brand-02: #6f6f6f;
$brand-03: #ffffff;
$active-01: #565656;
$hover-field: #353535;

:root {
  --interactive-01: #{$interactive-01};
  --interactive-02: #{$interactive-02};
  --interactive-03: #{$interactive-03};
  --ui-background: #{$ui-background};
  --ui-01: #{$ui-01};
  --ui-02: #{$ui-02};
  --ui-03: #{$ui-03};
  --ui-04: #{$ui-04};
  --ui-05: #{$ui-05};
  --text-01: #{$text-01};
  --text-02: #{$text-02};
  --text-03: #{$text-03};
  --text-04: #{$text-04};
  --icon-01: #{$icon-01};
  --icon-02: #{$icon-02};
  --icon-03: #{$icon-03};
  --field-01: #{$field-01};
  --field-02: #{$field-02};
  --inverse-01: #{$inverse-01};
  --inverse-02: #{$inverse-02};
  --support-01: #{$support-01};
  --support-02: #{$support-02};
  --support-03: #{$support-03};
  --support-04: #{$support-04};
  --overlay-01: #{$overlay-01};
  --focus: #{$focus};
  --hover-primary: #{$hover-primary};
  --active-primary: #{$active-primary};
  --hover-primary-text: #{$hover-primary-text};
  --hover-secondary: #{$hover-secondary};
  --active-secondary: #{$active-secondary};
  --hover-tertiary: #{$hover-tertiary};
  --active-tertiary: #{$active-tertiary};
  --hover-ui: #{$hover-ui};
  --active-ui: #{$active-ui};
  --selected-ui: #{$selected-ui};
  --hover-selected-ui: #{$hover-selected-ui};
  --hover-danger: #{$hover-danger};
  --active-danger: #{$active-danger};
  --hover-row: #{$hover-row};
  --visited-link: #{$visited-link};
  --disabled-01: #{$disabled-01};
  --disabled-02: #{$disabled-02};
  --disabled-03: #{$disabled-03};
  --highlight: #{$highlight};
  --brand-01: #{$brand-01};
  --brand-02: #{$brand-02};
  --brand-03: #{$brand-03};
  --active-01: #{$active-01};
  --hover-field: #{$hover-field};
}
